ul {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    background-color: slategrey;
    margin: 0 0 10px 0;
}

@media screen and (min-width: 650px) {
    ul {
        height: 434px;
        box-sizing: border-box;
    }
}