.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-3 {
  position: relative;
  width: 100%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0;
  border-right: 1px solid #bee5eb;
  min-height: calc(100vh - 60px);
}
.col-9 {
  position: relative;
  width: 100%;
  display: flex;
  flex: 0 0 75%;
  flex-direction: column;
  max-width: 75%;
  padding: 1.5rem;
  min-height: calc(100vh - 60px);
  background-color: #d1ecf1;
  color: #0c5460;
}
