.profile__form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.profile__form > label {
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

.profile__btn {
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    padding: 5px 20px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 0 auto;
}

.profile__btn:active {
    background-color: #aaa;
}

@media screen and (min-width: 650px) {
    .profile__form {
        
    }
}