form {
    display: flex;
    flex-flow: column wrap;
    
}

.field-name {
    width: 100%;
    box-sizing: border-box;
}

.field-text {
    width: 100%;
    box-sizing: border-box;
}

.button-send {
    height: 56px;
    margin: 0 auto;
}

@media screen and (min-width: 650px) {
    form {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .field-name {
        max-width: 120px;
    }

    .field-text {
        width: auto;
        flex-grow: 1;
    }

    .button-send {
        
    }
}