.ChatList{
    display: flex; 
    flex-wrap: wrap; 

    background-color: #d690cd;
    height: 100%;

}

.ChatList-container{
    width: 100%; 
    height: 70%;
    overflow-y: scroll;
    
    
}

.btn-container{
    box-sizing: border-box;
   padding-bottom: 50px;
    vertical-align:bottom;
    width: 100%; 
    height: 30%; 
}
.White{
    color: white; 
}

.w-500{
    width: 500px; 
}

.chat:hover{
    background-color: rgb(156, 106, 156);
    transition: 0.5s;
}

.btn-addNewChat{
    width: 80%;
    height: 50px;  
    margin: 50px; 
    color: #fff;
    cursor: not-allowed;
    pointer-events: auto;

}
.horisontal-line{
    height: 5px; 
    width: 100%; 
    background-color: white;
    

}