.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0 10px 40px rgba(88,114,154,.3);
    box-shadow: 0 10px 40px rgba(88,114,154,.3);
}