.Profile {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(239, 220, 255);
    position: absolute;
    z-index: 100;
    display: flex;
}

.showLeft {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.showRight {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.consoleProfile {
    height: 11%;
    width: 100%;
    background-color: rgb(108, 79, 136);
    display: flex;
}

.contentProfile {
    display: flex;
    height: 89%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}

.img {
    display: block;
    margin: 50px auto 25px;
    width: 50%;
    border-radius: 50%;
}

.img-back {
    width: 80%;
    height: 80%;
}
.btn-back {
    width: 14%;
    
}

.h1-profile {
    font-size: 3vh;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    .btn-back{ width: 20%; height: 56%}
    .h1-profile{ margin-top: 10%;}
}

@media screen and (min-width: 1025px){
    .h1-profile{ margin-top: 6%;     margin-left: 1%;}
}

.btn-back:hover {
    cursor: pointer;
}

.div-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 45%;
}

.dataProfile {
    height: 44%;
    background-color: rgb(231, 164, 255);
    width: 100%;
    display: flex;
    padding-top: 10%;
}

.img-name {
    text-align: center;
    width: 100%;
    margin: 0;
    display: inline-block;
    color: rgb(108, 79, 136);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formProfile {
    background-color: rgb(231, 164, 255);
    width: 90%;
    margin-left: 10%;
}

.containerEdit {
    width: 100%;
    display: flex;
}
.btn-back:hover:after{
    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 1;
    background: rgba(184, 121, 184, 0.4);
    font-size: 8px;
    padding: 5% 10%;
    border: 1px solid rgb(58, 4, 55);
    border-radius: 50%;
}

.btn-cancel:hover::after,
.btn-save:hover::after,
.btn-edit:hover::after
 {
    content: attr(data-title);
    position: absolute;
    left: -10%;
    top: 100%;
    z-index: 1;
    background: rgba(184, 121, 184, 0.4);
    font-size: 8px;
    padding: 5% 10%;
    border: 1px solid rgb(58, 4, 55);
    border-radius: 50%;
}




.img-edit{
 
    width: 80%; 
    height: 25%; 
}

.img-save-pr{

    width: 70%; 
    height: 65%; 
}