.Message {
    background-color: white;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    margin: 10px 10px 0px 0px;
    list-style: none;
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
}

.Message--chatbot{
    align-self: flex-start;
    background-color: #c3fbac;
    margin: 10px 0px 0px 10px;
    flex-direction: row;
}
.Message--chatbot .Triangle{
    width: 10px;
    height: 14px;
    background-color: #c3fbac;
    transform: rotate(315deg);
    margin-right: 0px;
    margin-left: -7px;
}


.Message:last-child{
        margin-bottom: 10px;
}
.Message span{
        position: relative;
}

.Triangle{
   width: 10px;
    height: 14px;
    background-color: white;
    transform: rotate(45deg);
    margin-right: -7px;
    margin-top: 1px;
}

