.btn-send{

    height: 60px;
    width: 60px; 
    background-color: rgb(91, 33, 145);
}

.input-name{
    width: 20%; 
    height: 80%;
}

.input-message{
    width: 65%; 
    height: 40%; 

}

.img-send{
    width: 80%;
    height: 10%;
    padding-left: 8px;
}


form{
    box-sizing: border-box;
    height: 12%; 
    background-color: rgb(108, 79, 136);
    flex: 0 0 auto;
    width: 100%;
    color: rgb(219, 219, 219);

}