@keyframes fire {
    from {
        background-color: transparent;
    }
    to {
        background-color: cyan;
    }
}

input[type:radio] {
    display: none;
}

label {
    display: block;
    padding: 0 10px;
    cursor: pointer;
}

input[type:radio]:checked ~ label {
    color: white;
    background-color: blue;
}

.link {
    display: block;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5px;
}

.link:last-child {
    margin-bottom: 20px;
}

.selected {
    color: white;
    background-color: blue;
}

.fire {
    animation-name: fire;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

